*.pyc
*.mat
*.tif
*.png
*.PNG
*.jpeg
*.mp4
*.jpg
*.kml
*.txt
*.geojson
*checkpoint.ipynb
*.csv
*.xml
.env
test_rstb.py
/deprecated
/worked_example
/.virtual_documents
/doc/.ipynb_checkpoints
/data
/random
.vscode/
/.test-runs/